<div id='header-carousel' class="container-fluid p-0 mb-5">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img style="height: 900px;" class="w-100"
          <img style="height: 900px;" class="w-100"
          src="https://img.freepik.com/premium-photo/generosity-compassion-volunteers-organizations-as-they-distribute-food-supplies-vulnerable-communities-emphasizing-power-collective-action-combating-hunger_505557-16078.jpg?w=740"
          alt="Image">
  
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-7 pt-5">
                  <h1 class="my-auto">To the Homeless <br> & <br>Hopeless People</h1>
                  <h1 class="display-4 text-white mb-3 animated slideInDown">Let's Change The World With Humanity</h1>
  
                  <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                    <i class="fa fa-arrow-right"></i>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img style="height: 900px;" class="w-100"
            src="https://img.freepik.com/premium-photo/generosity-compassion-volunteers-organizations-as-they-distribute-food-supplies-vulnerable-communities-emphasizing-power-collective-action-combating-hunger_505557-16078.jpg?w=740"
            alt="Image">
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-7 pt-5">
  
                  <h1 class="display-4 text-white mb-3 animated slideInDown my-auto">The Smallest Act of Kindness is
                    Worth <br>
                    More Than the Grandest Intention</h1>
  
                  <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                    <i class="fa fa-arrow-right"></i>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="carousel-item">
          <img style="height: 900px;" class="w-100" src="https://preview.colorlib.com/theme/lovecare/images/bg_1.jpg"
            alt="Image">
          <div class="carousel-caption">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-7 pt-5">
  
                  <h1 class="display-4 text-white mb-3 animated slideInDown my-auto">The Smallest Act of Kindness is
                    Worth <br>
                    More Than the Grandest Intention</h1>
  
  
                  <div class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                    <i class="fa fa-arrow-right"></i>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>