{% extends 'core/index.html' %}
{% load static %}
{% block title %} Charity Management {% endblock %}


{% block content %}

<div class="content-home">
  <div class="row m-5 p-2">
    <h1 class="mb-5" style="color: rgb(6, 3, 88); font-size: 70px;">Why this organization</h1>

    <div class="col-md-6 mt-2 ">
      <h3>Raise Awareness:</h3>
      <h5>Increase awareness about the cause, issues, or projects the charity is working on. <br>
        This involves providing information, statistics, <br>
        and success stories to educate the public about the importance of the charity's work.</h5>
    </div>



    <div class="col-md-6 mt-2">
      <h3>Fundraising:</h3>
      <h5>Facilitate online donations and fundraising campaigns. <br>
        The website can serve as a platform to collect financial contributions from individuals, <br>
        corporations, and other donors interested in supporting the charity's mission.</h5>

    </div>





    <div class="col-md-6 mt-2 ">
      <h3>Communication:</h3>
      <h5>Act as a communication hub between the charity and its stakeholders. <br>
        This includes donors, volunteers, beneficiaries, and the general public. <br>
        The website can provide updates, news, and reports on the charity's activities and impact.</h5>
    </div>





    <div class="col-md-6 mt-2 ">
      <h3>Transparency:</h3>
      <h5>Foster transparency and accountability by sharing financial reports, project updates, and the overall impact
        of the charity's work. This helps build trust among donors and stakeholders.
      </h5>

    </div>





    <div class="col-md-6 mt-2 ">
      <h3>Education:</h3>
      <h5> Provide educational resources to inform visitors about the issues the charity addresses, potential
        solutions, and the broader context of the charity's work. <br>
        This could include articles, videos, and other multimedia content.
      </h5>

    </div>



    <div class="col-md-6 mt-2 ">
      <h3>Advocacy:</h3>
      <h5> Enable supporters to take action by providing resources for advocacy efforts. This might include
        petitions,<br>
        letter campaigns, or information on how individuals can engage with policymakers to promote positive change.
      </h5>

    </div>




    <div class="col-md-6 mt-2 ">
      <h3>Volunteer Engagement:</h3>
      <h5>Recruit and manage volunteers by providing information on available opportunities, requirements, and the
        application process. A charity website can also be used to coordinate and communicate with volunteers
        effectively.</h5>

    </div>






    <div class="col-md-6 mt-2">
      <h3>Community Building:</h3>
      <h5>Create a sense of community among supporters. This can involve features like forums, social media
        integration, and events to encourage engagement and networking among people who share an interest in the
        charity's cause.
      </h5>

    </div>




  </div>





</div>

<div id="" class="org">
  <div class="row p-2 m-5">
    <div class="col-md-12 donation" data-aos="fade-up" data-aos-duration="6000">
      <h1 id="donate" class="mb-5" style="color: rgb(6, 3, 88);font-size: 70px;">Donate </h1>
      <h2 class="mb-4" style="color: rgb(2, 3, 24);font-size: 50px;">Donation can be done by directly to beneficiaries
        or to Charity trusts</h2>
      <div class="row">
        <div id="b" class="col-md-6">
          <h2 class="mb-4">Beneficiaries</h2>
          <p>Through field survey based on selected area, we collected genuine beneficiaries and verified </p>
          <p>Sponsors or Stakeholders can donate directly to beneficiaries <br>Here you can find beneficiaries </p>
          <a href="{% url 'list' %}" style="width: 150px;" class="btn btn-primary mb-5">View</a>
        </div>
        <div class="col-md-6"></div>
      </div>
      <h2 id='orgs' class="" data-aos="fade-up" data-aos-duration="6000">Charity Trusts </h2>
      <p data-aos="fade-up" data-aos-duration="6000">Here are the list of charity organizations under our program <br>
        Categorized based on aspects of their domain </p>
      <div class="row">
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">
          <div class="card">
            <img class="card-img img"
              src="https://images.pexels.com/photos/6646940/pexels-photo-6646940.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">ALL</h5>
              <p class="card-text">Lists of charity trusts which are active on all domains</p>
              <a style="width: 150px;" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">
          <div class="card">
            <img class="card-img img"
              src="https://img.freepik.com/free-photo/side-view-man-working-as-real-estate-agent_23-2151065015.jpg?t=st=1704702413~exp=1704706013~hmac=3a1648ebb402a6491234b2289ad3106c05eda9e1ae856fd356aac0c3bbff1ad2&w=740"
              alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">HOUSE</h5>
              <p class="card-text">Trusts which are focused on helping homeless people</p>
              <a style="width: 150px;" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">
          <div class="card">
            <img class="card-img img"
              src="https://images.pexels.com/photos/6995212/pexels-photo-6995212.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">FOOD</h5>
              <p class="card-text">Trusts which are focused on helping with food donation</p>
              <a style="width: 150px;" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">
          <div class="card">
            <img class="card-img img"
              src="https://img.freepik.com/premium-photo/picture-person-getting-checkup-heart-health-world-health-day-bokeh-generative-ai_288945-370.jpg?w=740"
              alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">HEALTH</h5>
              <p class="card-text">Trusts which are focused on human health </p>
              <a style="width: 150px;" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">
          <div class="card">
            <img class="card-img img"
              src="https://img.freepik.com/premium-photo/teacher-teaching-kids-classroom-generative-ai_259696-1099.jpg?w=740"
              alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">EDUCATION</h5>
              <p class="card-text">Trusts which are focused on education for poor people</p>
              <a style="width: 150px;" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
          data-aos-duration="4000">
          <div class="card">
            <img class="card-img img"
              src="https://img.freepik.com/free-photo/senior-couple-holding-hands-love-bonding-generated-by-ai_188544-33049.jpg?t=st=1704702574~exp=1704706174~hmac=a5bde153d15eee76d5fc51d46b916c3eec340f85a21a2e447178067194dad3c1&w=740"
              alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">OLD AGE </h5>
              <p class="card-text">Trusts which are focused on caring for old age people</p>
              <a style="width: 150px;" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<h1 id="help" class="mb-5 text-center" style="color: rgb(6, 3, 88);font-size: 70px;" data-aos="fade-right"
  data-aos-anchor-placement="center-bottom" data-aos-duration="6000">REQUEST </h1>

<div class="request p-5">
  <div class="overlay"></div> 

  <h2>Need Help..? </h2>
  <h4>Are you in need of help for your charity? Submit a request here to connect with volunteers and donors eager to
    support your cause. Whether you're looking for financial contributions, volunteer assistance, or resources, our
    platform can connect you with the right people to make a difference. We believe in the power of community and
    collaboration to bring positive change. By submitting your request, you become part of a network dedicated to making
    the world a better place. Don't hesitate to reach out and let us help you achieve your charitable goals. Together,
    we can spread kindness and improve lives.
  </h4>
  {% if user.is_authenticated %}
  <a class="btn btn-primary mt-3">Request</a>
  {% else %}
  <a class="btn btn-primary mt-3">Please Login For request</a>
  {% endif %}
</div>
<h1 id="evnt" class="mb-5 text-center" style="color: rgb(6, 3, 88);font-size: 70px;" data-aos="fade-right"
  data-aos-anchor-placement="center-bottom" data-aos-duration="6000">EVENTS </h1>


<div class="e1 p-5">



  <div class="overlay"></div>
  <h3 class="text-white">A fundraising event is an event or campaign whose primary purpose is
    to raise money for a cause, charity or non-profit organization.And also conduct free service like Medical
    camps,Blood Donation etc..b <br>
    You can get full details below</h3>
  <!-- <h4>Fundraising Events:

      Galas and Charity Balls: Formal events with dinners, entertainment, and auctions.
      Walks, Runs, or Marathons: Participants raise funds through pledges for completing a walk, run, or marathon.
      Auctions: Items or experiences are auctioned off, and the proceeds go to the charity.
      Awareness Events:
      
      Conferences and Seminars: Educational events to raise awareness about a specific issue.
      Awareness Walks or Rallies: Participants gather to walk or rally for a cause, spreading awareness.
      Community Engagement Events:
      
      Community Cleanups: Volunteers clean up local neighborhoods or public spaces.
      Food Drives: Collecting and distributing food to those in need.
      Health and Wellness Events:
      
      Health Screenings: Providing free or low-cost health screenings to the community.
      Fitness Challenges: Encouraging healthy habits while raising funds for the charity.
      Volunteer Events:
      
      Volunteer Days: Organizing days where volunteers contribute their time and skills to specific projects.
      Skill-Building Workshops: Workshops or training sessions for volunteers to enhance their skills.
      Cultural or Entertainment Events:
      
      Concerts or Performances: Entertainment events with proceeds benefiting the charity.
      Art Exhibitions: Showcasing art with a percentage of sales going to the charity.
      Collaborative Events:
      
      Partnership Events: Collaborating with businesses or other organizations for joint events.
      Corporate Social Responsibility (CSR) Initiatives: Engaging with corporate partners for philanthropic efforts.</h4> -->
  <div id="myCarousel" class="carousel slide container " data-bs-ride="carousel">
    <div class="row">
      <div class="carousel-inner  w-100">
        <div class="carousel-item active ">
          <div class="col-12 col-md-6 col-lg-4 ">
            <div class="card">
              <img class="card-img" src="https://thumbs.dreamstime.com/b/medical-camp-13742635.jpg?w=768"
                alt="Card image cap">
              <div class="card-body text-center text-center">
                <h5 class="card-title">Free Medical Camps</h5>
                <p class="card-text">Aim to bring awareness amongst the
                  people who have no access to basic healthcare services or knowledge about
                  the diseases they are suffering from.</p>
                <a class="btn btn-primary ">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class=" col-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img"
                src="https://img.freepik.com/free-vector/flat-world-organ-donation-day-illustration_52683-86951.jpg?w=360&t=st=1705678825~exp=1705679425~hmac=bf86a451d023e9b59158d21634b8dbaf76962d034725c5649043603d26de9411"
                alt="Card image cap">
              <div class="card-body text-center">
                <h5 class="card-title">Organ Donation Campaigns</h5>
                <p class="card-text">The purpose of the organ donation drive is to create awareness and increase the
                  willing participation of adults to sign for organ donation.</p>
                <a class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class=" col-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-faSWXajAEtaM7Qa8m3uteJlmyoS6g-2N3Q&s"
                alt="Card image cap">
              <div class="card-body text-center">
                <h5 class="card-title"> Food Festival</h5>
                <p class="card-text">A food festival coinciding with a school event is one more popular and effective
                  method of raising charity funds. Food is usually brought home by the children.</p>
                <a class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class=" col-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img"
                src="https://img.freepik.com/premium-photo/indian-traditional-culture-beautiful-woman-dancer-exponent-indian-classical-dance-bharatanatyam-tamil-nadu-state_571754-9836.jpg?w=740"
                alt="Card image cap">
              <div class="card-body text-center">
                <h5 class="card-title">Cultural Program</h5>
                <p class="card-text">A cultural evening is another time-tested method of raising money for a cause. The
                  performances may be individual or a team (drama, dance), organized at school or neighborhood level.
                </p>
                <a class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class=" col-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img"
                src="https://img.freepik.com/free-vector/auction-banners-set_1284-5990.jpg?t=st=1713711161~exp=1713714761~hmac=4caecb3f5d8cb827518bf53b161f02dae537e5786c0d480253f13f0825b20ce7&w=360">
              <div class="card-body text-center">
                <h5 class="card-title">Charity Auction:</h5>
                <p class="card-text">Collect donated items from local businesses and individuals, then host an auction.
                  Bidders can compete for the items, and the money raised goes to the charity trust auction
                </p>
                <a class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class=" col-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img" src="{% static 'images/close-up-people-holding-apples-bag.jpg' %}"
                alt="Card image cap">
              <div class="card-body text-center">
                <h5 class="card-title">Free Food </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class=" col-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img"
                src="https://img.freepik.com/free-photo/close-up-hand-collecting-bottle_23-2149181971.jpg?size=626&ext=jpg&ga=GA1.1.1619967319.1699450871&semt=ais"
                alt="Card image cap">
              <div class="card-body text-center">
                <h5 class="card-title">Community Cleanup Day</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class=" col-12 col-md-6 col-lg-4">
            <div class="card">
              <img class="card-img"
                src="https://img.freepik.com/free-photo/side-view-people-listening-music_23-2149734957.jpg?size=626&ext=jpg&ga=GA1.1.1619967319.1699450871&semt=ais"
                alt="Card image cap">
              <div class="card-body text-center">
                <h5 class="card-title">Charity Concert Livestream:</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's content.</p>
                <a class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button btn-light" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<section class="pt-50 pb-100 pt-xs-20 pb-xs-20 pt-sm-20 pb-sm-20 vision_mision_sec" data-aos="fade-up"
  data-aos-duration="6000">
  <h1 id="prcts" class="mb-5 text-center" style="color: rgb(6, 3, 88);font-size: 70px;">PROJECTS</h1>
  <div class="container">
    <div class="row align-self-center outer_wrapper">
      <div class="col-lg-5 col-md-5 d-none d-sm-block align-self-center image_content">
        <img style="border-radius: 5px;width: 500px;"
          src="https://img.freepik.com/premium-photo/conference-hall-seminar-room-with-attendee-background_157125-12999.jpg?w=826"
          alt />
      </div>
      <div class="col-lg-7 col-md-7 d-lg-block d-md-block align-self-center desc_content">
        <h2 class="montextralight mt-4 color-blue heading">
          Lend a helping hand to Poor</h2>
        <div class="text-left content_wrap">
          <p>We are doing several projects works that helpfull to poor people to get security.Such as <strong>Slum
              development projects,Building houses,Local business startsup for house wives</strong> Participating in
            community service projects is a great way to give back to your community. In some cases, working on these
            types of projects can involve activities that require you to raise money, but not always. Some of these
            types of projects simply require time and a commitment to sharing your skills and abilities to improve the
            community where you live or to make life a little better for someone who is less fortunate than you are..
          </p>
        </div>

      </div>
      <div class="row mb-20 vision_item">
        <div class="col-lg-5 offset-2 col-md-5 col-sm-12 v_item">
          <h4>Our Vision</h4>
          <p class="desc">No Child in India shall be deprived of education because of hunger</p>
        </div>
        <div class="col-lg-4 offset-2 col-md-4 col-sm-12 v_item">
          <h4>Our Mission</h4>
          <p class="desc">To feed 3 Million Children Everyday by 2025</p>
        </div>
      </div>
      <div class="col-6 p-0">
        <a href="/about-us/" class="btn btn_readMore  m-4">View All Projects</a>
      </div>
    </div>
  </div>
</section>

<section class="vlntr" data-aos="fade-up" data-aos-duration="6000">

  <div class="vtr p-3">
    <div class="row">
      <h1 class="mb-5 text-center" style="color: rgb(6, 3, 88);font-size: 70px;"> VOLUNTEER</h1>

      <div class="col-md-6 txt mt-4">

        <h3>
          Charity volunteers play a pivotal role in fostering positive social change and addressing community needs.
          These dedicated individuals contribute their time, skills, and compassion to support various charitable
          organizations and initiatives. Whether it's assisting with events, raising awareness, or directly engaging
          with beneficiaries, volunteers embody the spirit of altruism.

        </h3>
        <a class="btn btn-primary mt-4">Join as Volunteer</a>
      </div>
      <div class="col-md-6 pic">
        <img class="v-img" src="{% static 'images/7732672_5299.jpg' %}" alt="" srcset="">
      </div>
    </div>

  </div>
</section>


<section class="about" data-aos="fade-up" data-aos-duration="6000">


  <div id="abts" class="abt">
    <h1 class="mb-5 text-center" style="color: rgb(247, 248, 248);font-size: 70px;">About Us </h1>
    <div class="overlay"></div>
    <h4 class="text-center text-white">This is a Foundation is a youth led organization working on empowering the
      underprivileged section of our society. .Foundation focused its interventions on issues concerning youth and
      children which brought about significant changes in their lives in terms of education, health, skill, career and
      sustainable livelihood.Also works on Environment conservation, women empowerment, Food safety and security, .<br>
      We conduct a survey in local areas to find beneficiaries and make alist of eligible peoples.
      Donars can find beneficiarieseasly from this published list.

    </h4>


  </div>
</section>
{% endblock %}