{% load static %}

 {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg  fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" href="#offcanvasExample" role="button" data-bs-toggle="offcanvas"
        aria-controls="offcanvasExampleLabel">
        <span><i class="fa-solid fa-bars fa-xl" style="color: #f9f8fc;"></i></span>
      </button>


      <a class="navbar-brand d-flex align-items-center text-white m-2 p-0" href="#">
        <i class="bi bi-activity" style="color: red; font-size: 3rem;"></i>
        <span class="ms-2">CHARITY MANAGEMENT</span>
    </a>
 

      <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title " id="offcanvasExample">MENU</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ">
          <ul class="navbar-nav mx-auto   mb-2 mb-lg-0 small nitem ">
            <li class="nav-item px-3">
              <a class="nav-link active mt-2" aria-current="page" ">HOME</a>
            </li>
            <li class="nav-item px-3  ">
              <a class="nav-link active mt-2 " aria-current="page" href="#prcts">PROJECTS</a>
            </li>
            <li class="nav-item px-3 ">
              <a class="nav-link active mt-2 " aria-current="page" href="#evnt">EVENTS</a>
            </li>
            <li class="nav-item px-3 ">
              <a class="nav-link active mt-2 " aria-current="page" href="#orgs">ORAGANIZATIONS</a>
            </li>
            <li class="nav-item px-3 ">
              <a class="nav-link active mt-2 " aria-current="page" href="#donate">DONATE</a>
            </li>
            <li class="nav-item px-3  ">
              <a class="nav-link active mt-2 " aria-current="page" href="#help">REQUEST</a>
            </li>
            <li class="nav-item px-3  ">
              <a class="nav-link active mt-2 " aria-current="page" href="#abts">ABOUT</a>
            </li>
             <li class="nav-item  ">
            <a class="nav-link active mt-2 px-4 btn btn-danger career-btn" aria-current="page" href="{% url 'empsignup' %}">CAREERS</a>
          </li>
          </ul>

        </div>
      </div>
      <div></div>
      <button class="toggle-btn" onclick="toggleSidebar(this)"><img src="{% static 'images/bg_1.jpg' %}"
          alt=""></button>
      <div id="sidebar">

        <!-- <div >
        <button class="toggle-btn" onclick="toggleSidebar(this)" ><img src="{% static 'images/bg_1.jpg' %}" alt=""></button>

        <span></span>
        <span></span>
        <span></span>
      </div>   -->
        <div class="list">
          <div class="menu">
            <div class="row align-items-start">
              <div class="col-md-6 col-6 mt-3 d-flex justify-content-start ">
                <div id="profile-view" class="d-flex align-items-center">
                  {% if user.user_img %}
                  <img src="{{ user.user_img.url }}" alt="No img" class="mr-2 pro-img ">
                  {% else %}
                  No image
                  {% endif %}
                  <h5 class="text-small text-uppercase text-white px-1 font-weight-bold name">{{user.username}}</h5>
                </div>
              </div>
              <div class="col-md-6 col-6 clsBtn mt-4 d-flex justify-content-end align-self-start">
                <button style="background-color: inherit;" onclick="toggleSidebar(this)">
                  <span><i class="fa-solid fa-x fa-xl" style="color: #eaecf1;"></i></span>
                </button>
              </div>
            </div>
          </div>



          <div class="item p-3 mt-5 prfl"><a href="{% url 'view_profile' user.id %}"><span><i class="fa-regular fa-user fa-xl me-2"
                  style="color: #ebedef;"></i></span>Your Profile</a></div>
          <div class="item p-3 mt-2 "><a href=""><span><i class="fa-regular fa-bell fa-xl me-2"
                  style="color: #e70808;"></i></span>Notifications</a></div>
           <div class="item p-3 mt-2 "><a href=""><span><i class="fa-solid fa-check fa-xl me-2" style="color: #0dc92c;"></i>
              </span>Pending Request</a>
                 <div><h6>Not Approved</h6></div>
                  </div>
          <div class="item p-3 mt-2 act text-center">Account


            <div class="row">
              <div class="col-md-6 col-6">
                <h6 class="text-white text-center">Donated</h6>
                <h1>6666</h1>



              </div>
              <div class="col-md-6 col-6">

                <h6 class="text-white text-center">Received</h6>
                <h1>26262626 </h1>

              </div>



            </div>
          </div>

          <div class="item p-3 mt-5 "><a href="{% url 'logout' %}"><span><i class="fa-solid fa-power-off fa-xl me-2" style="color: #e60505;"></i></span>Sign Out</a></div>
          <div class="item p-3 mt-5 "><a href="{% url 'logout' %}"><span><i class="fa-solid fa-trash fa-xl me-2" style="color: #e6650f;"></i></span>Delete Account</a></div>

        </div>



      </div>

    </div>
    </div>

    </div>
  </nav>



{% else %}

<nav class="navbar navbar-expand-lg fixed-top" >
  <div class="container-fluid">
    <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="bi bi-activity" style="color: red; font-size: 3rem;"></i></span>
    </button>
    
    <!-- <a class="navbar-brand text-white m-0 p-0" href="#"><span><i class="bi bi-activity" style="color: red; font-size: 3rem;"></i>CHARITY MANAGEMENT</a> -->
    <a class="navbar-brand d-flex align-items-center text-white p-0" href="#">
      <i class="bi bi-activity" style="color: red; font-size: 3rem;"></i>
      <span class="ms-2">CHARITY MANAGEMENT</span>
    </a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active mt-2 px-3" aria-current="page" href="#">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mt-2 px-3" aria-current="page" href="#prcts">PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mt-2 px-3" aria-current="page" href="#evnt">EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mt-2 px-3" aria-current="page" href="#orgs">ORGANIZATIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mt-2 px-3" aria-current="page" href="#donate">DONATE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mt-2 px-3" aria-current="page" href="#help">REQUEST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mt-2 px-3" aria-current="page" href="#abts">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mt-2 px-4 btn btn-success login-btn" aria-current="page" href="{% url 'login' %}">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mt-2 px-4 btn btn-primary signup-btn" aria-current="page" href="#">SIGNUP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mt-2 px-3 btn btn-danger career-btn" aria-current="page" href="#">CAREERS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


{% endif %}


  <!-- //navbarend -->


  <!-- Carousel Start -->
